<html>
    <head><style>
        body {
          background-image: url("https://images.hdqwalls.com/wallpapers/fsociety-dark-logo-4k-0s.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          text-align: center;
          font-size: large;
        }
      </style>
        <title>

        </title>
    </head>
<script>
    function transfer(){
        window.location='https://fuxsociety.herokuapp.com/home';
    }
</script>
    <body><h15882
        <p style="color: white">we are fsociety</p>   
    <footer>
        <div id="click">
            </style>
        <button onclick="transfer()" style="height: 100px; width: 500px; color: white; background-color: black; font-size: 200%; position: fixed; bottom: -4px; width: fit-content; left: 50%%">click to see password</button>
        </div>
        </footer>
    </body>
</html>
